@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
   /* background: linear-gradient(#fe2706, #17a5f7) fixed;*/
   background: #bc987e;
   background: linear-gradient(#9A5044, #E8D9A9) fixed;
}

.header {
    text-align: center;
    font-size: 50px;
}

.btn {
    display: inline-block;
    padding: 7px 22px;
    border-radius: 30px;
    background-color: #19f40a;
    font-size: 18px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.tg {
    text-align: center;
    padding-top: 30px;
    margin-left: 100px;
}

.vk {
    text-align: center;
    padding-top: 50px;
}

.block {
    width:300px;
    height:300px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    margin: 200px auto;

}

p {
    margin-bottom: 100px;
}

.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 4px;
    width: 17px;
    height: 17px;
    margin-left: 15px;
    margin-top: 10px;
    
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}