 html {
    height: 280%;
 }
 
 
 body {
    background: #bc987e;
    background: linear-gradient(#9A5044, #E8D9A9) fixed;
 }

 .lightrope {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    margin: -15px 0 0 0;
    padding: 0;
    pointer-events: none;
    width: 100%;
}
.lightrope li {
    position: relative;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 12px;
    height: 28px;
    border-radius: 50%;
    margin: 20px;
    display: inline-block;
    background: rgba(0, 247, 165, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
    animation-name: flash-1;
    animation-duration: 2s;
}
.lightrope li:nth-child(2n+1) {
    background: rgba(0, 255, 255, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.5);
    animation-name: flash-2;
    animation-duration: 0.4s;
}
.lightrope li:nth-child(4n+2) {
    background: rgba(247, 0, 148, 1);
    box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
    animation-name: flash-3;
    animation-duration: 1.1s;
}
.lightrope li:nth-child(odd) {
    animation-duration: 1.8s;
}
.lightrope li:nth-child(3n+1) {
    animation-duration: 1.4s;
}
.lightrope li:before {
    content: "";
    position: absolute;
    background: #222;
    width: 10px;
    height: 9.3333333333px;
    border-radius: 3px;
    top: -4.6666666667px;
    left: 1px;
}
.lightrope li:after {
    content: "";
    top: -14px;
    left: 9px;
    position: absolute;
    width: 52px;
    height: 18.6666666667px;
    border-bottom: solid #222 2px;
    border-radius: 50%;
}
.lightrope li:last-child:after {
    content: none;
}
.lightrope li:first-child {
    margin-left: -40px;
}
@keyframes flash-1 {
    0%, 100% {
        background: rgba(0, 247, 165, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 1);
   }
    50% {
        background: rgba(0, 247, 165, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 247, 165, 0.2);
   }
}
@keyframes flash-2 {
    0%, 100% {
        background: rgba(0, 255, 255, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 1);
   }
    50% {
        background: rgba(0, 255, 255, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(0, 255, 255, 0.2);
   }
}
@keyframes flash-3 {
    0%, 100% {
        background: rgba(247, 0, 148, 1);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 1);
   }
    50% {
        background: rgba(247, 0, 148, 0.4);
        box-shadow: 0px 4.6666666667px 24px 3px rgba(247, 0, 148, 0.2);
   }
}
.wrapper {
    height: 1170px;
    margin-top: -50px;
    padding-top: 50px;
}

.header {
    position: relative;
    padding: 0 12px 3px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    color: black;
    text-align: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    
}

.text {
    text-align: center;
    font-size: 20px;
 }
 .text2 {
     text-align: center;
     font-size: 30px;
     margin-bottom: -129px;
 }
 
 .text3 {
     text-align: center;
     font-size: 30px;
     margin-bottom: -181px;
 }
 
 .text4 {
     text-align: center;
     font-size: 30px;
 }
 
 
 
 .imghp {
     position: relative;
     display: grid;
     margin-top: -1013px;
 }
 
 .one {
     position: relative;
     margin-left: 1141px;
     margin-bottom: -126px;
     padding-left: -3px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .three {
     position: relative;
     margin-left: 1161px;
     z-index: 1;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .two {
     position: relative;
     margin-bottom: -144px;
     margin-left: 988px;
     z-index: 2;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .four {
     margin-bottom: -549px;
     margin-left: 17px;
     position: relative;
     margin-top: -726px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .five {
     position: relative;
     margin-bottom: -156px;
     margin-left: 186px;
     z-index: 2;
     margin-top: -523px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .six {
     position: relative;
     margin-left: 18px;
     z-index: 1;
     margin-top: -332px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .r1 {
     /* sposition: relative;
     margin-left: 1161px;
     margin-bottom: -126px;
     margin-top: 100px;
     box-shadow: 1px 1px 15px rgb(0 0 0); */
     position: relative;
     margin-top: 200px;
     margin-left: 150px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .r2 {
     /* position: relative;
     margin-left: 988px;
     margin-bottom: -126px;
     
     box-shadow: 1px 1px 15px rgb(0 0 0); */
     position: relative;
     margin-left: 577px;
     margin-top: -370px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .r3 {
     /* position: relative;
     margin-left: 1161px;
     z-index: 3;
     box-shadow: 1px 1px 15px rgb(0 0 0); */
     
     position: relative;
     margin-top: 60px;
     margin-left: 609px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
     
 }
 
 .l1 {
     /* margin-bottom: -397px;
     margin-left: 17px;
     position: relative;
     margin-top: -759px;
     box-shadow: rgb(0 0 0) 1px 1px 15px; */
     position: relative;
     margin-top: 273px;
     margin-left: 154px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .l2 {
     /* position: relative;
     margin-left: -76px;
     margin-bottom: -615px;
     z-index: 2;
     box-shadow: 1px 1px 15px rgb(0 0 0);*/
     position: relative;
     margin-top: 66px;
     margin-left: 154px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 
 .l3 {
     /* position: relative;
     margin-left: -431px;
     margin-bottom: -808px;
     z-index: 1;
     box-shadow: 1px 1px 15px rgb(0 0 0); */
     position: relative;
     margin-top: 66px;
     margin-left: 154px;
     box-shadow: 1px 1px 15px rgb(0, 0, 0);
 }
 